/* Reset */
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
}
/* Main styling */

body {
  padding: 10px;
}

.menutitle {
  text-align: center;
  font-size: 175%;
  font-weight: bold;
  width: 100%;

}

.title1, .title2, .title3{
      float: right;
      border-bottom: 1px solid black;
      border-left: 1px solid black;
      font-size: 125%;
      width: 150px;
      text-align: center;
}
.title1 {
      background-color: #ffcccc;
}
.title2 {
      background-color: #ccccff;
}
.title3 {
      background-color: #b3ffb3;
}
.section1, .section2, .section3{
      background-color: #f0f5f5;
      border: 1px solid black;


}
p {
      clear: right;
      padding: 5px;
}



/* First Break point */
@media (min-width: 992px){
        .section1, .section2, .section3{
          float: left;
          margin: 10px;
          width: 31%;
        }
}


/* Second Break point*/
@media (min-width: 768px) and (max-width: 991px){
  .section1,.section2 {
    width: 45%;
    float: left;
    margin: 10px;
    margin-bottom: 20px;
  }
  .section3 {
    clear: both;
    width: 92.3%;
    margin: 10px
  }


/* Third and Smallest Break Point */
}
@media (max-width: 767px) {
  .section1, .section2, .section3{
      margin: 10px;

  }
}
